body .custom-item {
    padding-left: 7px;
    padding-right: 7px;
}

.custom-item > img {
    height: 30px;
    width: 40px;
    float: left;
    margin-top: 2px;
}

.custom-item > div.product-name {
    margin-left: 40px;
    line-height: 34px;
    font-size: 14px;
}

body .custom-item input {
    background-color: transparent;
}

body .dx-popup-content .custom-item {
    padding-top: 7px;
    padding-bottom: 8px;
}

.dx-popup-content .custom-item > div {
    padding-left: 8px;
    text-indent: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.v-field-label {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 16px;
    text-align: left;
    float: left;
    width: 100%;
    padding: 0 15px 9px 0;
}

.v-field-value {
    float: left;
    width: 100%;
}

.v-field-value-date{
    float: left;
    width: 100%;
    display: none;
}

.v-filterGrp {
    display: none;
}

.v-test {
    display: none;
}

.v-title h1{
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 20px;
    text-align: left;
}

.v-selection {
    background-color: rgba(191, 191, 191, 0.15);
    padding: 15px;
}

.v-labels {
    background-color: rgba(255, 255, 0, 0.15);
    padding: 15px;
}

.v-odooData {
    background-color: rgba(135, 90, 123, 0.15);
    padding: 15px;
}

v-indicator {
    display: none;
}